In [5]:
# Fix imports when running from notebooks/ folder
import sys
from pathlib import Path

project_root = Path.cwd().parent 
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

print(f"Added to path: {project_root}")

%load_ext autoreload
%autoreload 2

Added to path: /Users/elshaday/DEV/10Academy/customer-experience-analytics-week2
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
from src.data import DataManager
from tabulate import tabulate

In [7]:
# Scrape Data and save to csv
dm = DataManager()
dm.scrape_reviews()
# reviews_df = dm.load_data()

Saved data to ../data/raw/reviews_data.csv
Removed 0 rows with missing and duplicate values.
Removed 78 rows with Ethiopic reviews.
Saved cleaned review under clean_review
Saved data to ../data/processed/cleaned_reviews_data.csv

Empty DataFrame
Columns: []
Index: []

In [8]:
# print(tabulate(reviews_df.head(), headers="keys", tablefmt="psql"))