In [2]:
# Fix imports when running from notebooks/ folder
import sys
from pathlib import Path

project_root = Path.cwd().parent 
if str(project_root) not in sys.path:
    sys.path.insert(0, str(project_root))

print(f"Added to path: {project_root}")

%load_ext autoreload
%autoreload 2

Added to path: /Users/elshaday/DEV/10Academy/customer-experience-analytics-week2

In [3]:
from scripts.database.db_manager import DatabaseManager

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/elshaday/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
from scripts.database.create_db import create_db

db = DatabaseManager()
db.setup()
db.insert_reviews()

Connected to PostgreSQL successfully!
Banks already exist. Skipping insertion.
Inserted reviews successfully!

In [5]:
print("Check that tables exist")
df_tables = db.query(
    """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public'
      AND table_type = 'BASE TABLE'
    ORDER BY table_name;
"""
)
df_tables

Check that tables exist

/Users/elshaday/DEV/10Academy/customer-experience-analytics-week2/scripts/database/db_manager.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, self.conn, params=params)

  table_name
0      banks
1    reviews

In [6]:
print("Total number of reviews")
df_total_reviews = db.query(
    """
    SELECT COUNT(*) AS total_reviews
    FROM reviews;
"""
)
df_total_reviews

Total number of reviews

/Users/elshaday/DEV/10Academy/customer-experience-analytics-week2/scripts/database/db_manager.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, self.conn, params=params)

   total_reviews
0           1722

In [7]:
print("Reviews per bank")
df_reviews_per_bank = db.query(
    """
    SELECT b.bank_name, COUNT(r.review_id) AS review_count
    FROM reviews r
    JOIN banks b ON r.bank_id = b.bank_id
    GROUP BY b.bank_name
    ORDER BY review_count DESC;
"""
)
df_reviews_per_bank

Reviews per bank

/Users/elshaday/DEV/10Academy/customer-experience-analytics-week2/scripts/database/db_manager.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, self.conn, params=params)

  bank_name  review_count
0    dashen           582
1       boa           573
2       cbe           567

In [8]:
print("Average rating per bank")
df_avg_rating = db.query(
    """
    SELECT b.bank_name, AVG(r.rating) AS avg_rating
    FROM reviews r
    JOIN banks b ON r.bank_id = b.bank_id
    GROUP BY b.bank_name
    ORDER BY avg_rating DESC;
"""
)
df_avg_rating

Average rating per bank

/Users/elshaday/DEV/10Academy/customer-experience-analytics-week2/scripts/database/db_manager.py:26: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, self.conn, params=params)

  bank_name  avg_rating
0    dashen    4.173540
1       cbe    4.162257
2       boa    3.172775